@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --primary: hsl(0, 0%, 95%);
  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --body-font: "Lexend Deca", sans-serif;
  --title-font: "Big Shoulders Display", cursive;
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  background-color: var(--primary);
}

.container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 45%;
  display: grid;
  border-radius: 6px;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
}

.card-item {
  padding: 1.8rem 1.8rem;
}

.card-item p {
  font-size: 0.83rem;
  line-height: 1.5rem;
  color: var(--paragraphs);
}

.card-item h2 {
  font-family: var(--title-font);
  color: #fff;
  font-size: 2rem;
  margin: 12px 0 14px;
}

.card-item button {
  border-radius: 100px;
  background-color: var(--primary);
  padding: 0.7rem 1.8rem;
  font-size: 0.8rem;
  margin-top: 25px;
}

.card-item.left button:hover,
.card-item.center button:hover,
.card-item.right button:hover {
  background: none;
  border: solid 2px var(--primary);
  color: #fff;
}

.card-item.left button {
  color: var(--bright-orange);
  border: solid 2px var(--bright-orange);
}

.card-item.center button {
  color: var(--dark-cyan);
  border: solid 2px var(--dark-cyan);
}

.card-item.right button {
  color: var(--very-dark-cyan);
  border: solid 2px var(--very-dark-cyan);
}

.card-item.left {
  background-color: var(--bright-orange);
}

.card-item.center {
  background-color: var(--dark-cyan);
}

.card-item.right {
  background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 375px) {
  .container {
    padding: 1rem;
  }

  .card-container {
    width: 100%;
    border-radius: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
