@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Overpass:wght@400;700&display=swap");

:root {
  --body-font: "Overpass", sans-serif;
  --white-color: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  width: 100vw;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}

.container {
  width: 23rem;
  color: #fff;
  background-color: hsl(200, 20%, 11%);
  padding: 1.4rem;
  border-radius: 12px;
}

.star_bullet {
  width: 40px;
  height: 40px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container h2 {
  font-size: 1.5rem;
  margin: 30px 0 12px;
}
.container p {
  font-size: 0.88rem;
  line-height: 21px;
  color: var(--medium-grey);
}

#submit-btn {
  width: 100%;
  border-radius: 100px;
  background-color: var(--orange);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 0.95rem;
  margin-top: 25px;
  transition: 0.3s ease;
}

#submit-btn:hover {
  background-color: var(--white-color);
  color: var(--orange);
}

.list-of-btn-pagination {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
}
.list-of-btn-pagination button {
  width: 50px;
  height: 50px;
  border: none;
  color: var(--light-grey);
  cursor: pointer;
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 50%;
  transition: 0.4s ease;
  font-size: 0.95rem;
}
.list-of-btn-pagination button:hover {
  color: var(--white);
  background-color: var(--orange);
}

/* thank you page */

.thankyou-img {
  width: 130px;
  display: block;
  margin: 0 auto;
}
.thankyou-content {
  margin: 25px 0 0;
  text-align: center;
}
.thankyou-content button {
  outline: none;
  cursor: pointer;
  background: none;
  background-color: var(--dark-blue);
  color: var(--orange);
  border: none;
  border-radius: 100px;
  padding: 0.4rem 0.8rem;
}
.thankyou-content h2 {
  margin: 25px 0 6px;
}
